<!-- <div role="radiogroup" class="button-group" [attr.aria-labelled]="label">
  <label id="label" class="label">{{label}}</label>
  <button
    role="radio"
    [attr.aria-checked]="value === options.YES"
    class="button yes"
    [class.button-pressed]="value === options.YES"
    type="button"
    (click)="activate(options.YES)">
    Yes
  </button>
  <button
    role="radio"
    [attr.aria-checked]="value === options.NO"
    class="button no"
    [class.button-pressed]="value === options.NO"
    type="button"
    (click)="activate(options.NO)">
    No
  </button>
</div> -->
<div
  appKeyboardManager
  role="radiogroup"
  class="button-group"
  [attr.aria-labelledby]="id">
  <label [attr.id]="id" class="label">{{label}}</label>
  <button
    appKeyboardManagedItem
    (focused)="activate(options.YES)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="value === options.YES"
    [attr.tabindex]=" value === options.YES || value === null ?  0 : -1"
    class="button yes"
    [class.button-pressed]="value === options.YES"
    type="button"
    (click)="activate(options.YES)">
    Yes
  </button>
  <button
    appKeyboardManagedItem
    (focused)="activate(options.NO)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.aria-checked]="value === options.NO"
    [attr.tabindex]=" value === options.NO ? 0 : -1"
    class="button no"
    [class.button-pressed]="value === options.NO"
    type="button"
    (click)="activate(options.NO)">
    No
  </button>
</div>
<!-- tabindex="0" add foco-->
<!-- tabindex="-1" não permite que o botão ganhe foco-->

